---
import Layout from '../layouts/Layout.astro';
import { SearchResults } from '../components/SearchResults';
---
<Layout title="MCModLabs - Search">
    <main>
        <SearchResults maxResults={32} client:only />
    </main>
</Layout>
<script>
    const params = Object.fromEntries(new URLSearchParams(window.location.search));

    const search_elem = document.querySelector('nav > form > input') as HTMLInputElement;
    search_elem.value = params.q;
</script>